// SCSS file for anchor.js component.
.anchor {
    display: block;
    position: relative;
    padding: 0.1em 0;
    overflow: hidden;
    text-decoration: none;
    font-family: 'Inter';
    color: var(--black);

    &.underline {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 20%;
            width: 50%;
            height: 1px;
            background-color: var(--black);
            // background-color: var(--theme-secondary);
            opacity: 0;
            transition: opacity 400ms, transform 400ms;
            transform: translate3d(-100%, 0, 0);
        }
    
        &:hover::after, &:focus::after {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &.inline {
        display: inline;
        text-decoration: underline;
    }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}