// Styling for App.js
$white: #FFF;
$light-grey: #dfdfdf;
$grey: #b3b3b3;
$semidark-grey: #585858;
$dark-grey: #363636;
$black: #141414;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


:root {
    // Colour variables
    --white: #{$white};
    --light-grey: #{$light-grey};
    --grey: #{$grey};
    --semidark-grey: #{$semidark-grey};
    --dark-grey: #{$dark-grey};
    --black: #{$black};
    
    // Navbar variables
    --topnav-992plus-height: 15vh;

    background-color: var(--white);
    color: var(--black);

    // Other constants
    line-height: 140%;
    overflow-x: hidden;
}


// Webfonts
@font-face {
    font-family: 'InterReg';
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterBold';
    src: url("../fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: 'Averta';
    src: url("../fonts/Averta/averta-regular.otf");
}

@font-face {
    font-family: 'AvertaBold';
    src: url("../fonts/Averta/averta-bold.otf");
}

@font-face {
    font-family: 'Playfair';
    src: url("../fonts/Playfair/static/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: 'PlayfairBold';
    src: url("../fonts/Playfair/static/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: 'RobotoMono';
    src: url("../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}


// Default styling for anchor and text elements
a, p, ul, li {
    line-height: 200%;
    font-size: 16px;
    font-family: 'RobotoMono';
}

ul {
    padding-left: 30px;
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) { }

// Small Devices, Tablets
@media only screen and (max-width: 768px) {
    a, p {
        font-size: 14px;
    }
}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {
    a, p {
        font-size: 12px;
    }
}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}