// Styling for App.js
$theme-secondary: #B7AB98;
$grey: #F9F9F9;
$mid-grey: #f1f1f1;
$semidark-grey: #1b1a1a;
$dark-grey: #141414;
$black: #0D0D0D;
$white: #FFF;
$blue: #4801FF;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    // Colour variables
    --theme-secondary: #{$theme-secondary};
    --theme: #{$blue};
    --grey: #{$grey};
    --mid-grey: #{$mid-grey};
    --semidark-grey: #{$semidark-grey};
    --dark-grey: #{$dark-grey};
    --black: #{$black};
    --white: #{$white};

    // Other constants
    line-height: 140%;
    --nav-width: 120px;
}


// Webfonts
@font-face {
    font-family: 'InterReg';
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterBold';
    src: url("../fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: 'InterBlack';
    src: url("../fonts/Inter/static/Inter-Black.ttf");
}

@font-face {
    font-family: 'InterThin';
    src: url("../fonts/Inter/static/Inter-Thin.ttf");
}

@font-face {
    font-family: 'Averta';
    src: url("../fonts/Averta/averta-regular.otf");
}

@font-face {
    font-family: 'AvertaBold';
    src: url("../fonts/Averta/averta-bold.otf");
}

@font-face {
    font-family: 'Playfair';
    src: url("../fonts/Playfair/static/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: 'PlayfairBold';
    src: url("../fonts/Playfair/static/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: 'PlayfairItalic';
    font-weight: 100;
    src: url("../fonts/Playfair/static/PlayfairDisplay-Italic.ttf");
}


// Default styling for anchor and text elements
a, p, ul, li {
    line-height: 200%;
    font-size: 14px;
    font-family: 'Inter';
}

ul {
    padding-left: 30px;
}



// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {
    a, p, ul, li {
        line-height: 160%;
        font-size: 13px;
    }
}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {
    a, p {
        font-size: 14px;
    }
}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {
    a, p {
        font-size: 12px;
    }
}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}