.homepage {
    padding: 5vh 0 25vh 0;

    .projects-nav {
        padding: 5% 5% 0 0;
        text-align: right;
        display: flex;
        flex-direction: column;
        perspective: 600px;
    }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {
    .homepage { padding-bottom: 20vh; }
}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {
    .homepage > .projects-nav { perspective: 600px; }
}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}