.homepage {
    .landing-wrapper {
        // Grid layout for overlapping content with different z-indexes.
        // height: calc(100vh - var(--nav-width) * 2);
        height: 100vh;
        display: grid;

        .landing-intro {
            // Use grid-row = 1 and grid-column = 1 to perfectly overlap elements
            height: 100vh;
            grid-row: 1;
            grid-column: 1;
            z-index: 5;
            padding: 0 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            overflow: auto;
            white-space: normal;
            word-wrap: break-word;

            .title {
                width: 100%;
                letter-spacing: 2px;
                overflow: hidden;

                &.name { padding-bottom: 5%; }
            }
        }

    }

    .about-wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15%;

        .about-title {
            letter-spacing: 2px;
            overflow: hidden;
        }

        .about-text {
            padding-top: 5%;
            color: var(--grey);
            overflow: hidden;
        }
    }

    .projects-wrapper {
        height: 100vh;
        padding: 10% 15%;

        .projects-grid {
            height: 100%;
            display: flex;
            grid-column-gap: 10px;
        }
    }
}