// Styling for Layout.js
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: 0 var(--nav-width);
    z-index: 10;

    .home-button {
        a {
            display: flex;
            text-decoration: none;
            font-size: 1.2rem;
            color: var(--black);

            .name {
                margin-right: 5vw;
                font-family: 'InterBold';
            }
        }
    }

    .topnav-menu {
        display: flex;
        gap: 40px;

        .topnav-link {
            letter-spacing: 2px;
            text-align: center;
            text-transform: lowercase;
            text-decoration: none;
            font-family: 'InterReg';
            font-size: 12px;
            color: var(--black);

            &.active { font-family: 'InterBold'; }
        }
    }
}

.leftnav {
    position: fixed;
    top: var(--nav-width);
    left: 0;
    width: var(--nav-width);
    height: calc(100vh - var(--nav-width));
    z-index: 10;
    background-color: var(--white);
}

.rightnav {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--nav-width);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: var(--white);

    .social-links {
        text-align: center;
    }
}

.app-container {
    margin: var(--nav-width) var(--nav-width) 0 var(--nav-width);
    background-color: var(--grey);
    z-index: 1;
}