// Styling for Layout.js
// Lenis smooth scrolling
html.lenis { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto; }
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }
.lenis.lenis-scrolling iframe { pointer-events: none; }


// Navigation styling
.leftnav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100%;
    padding: var(--nav-width) 0;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 100;

    .social-links {
        text-align: center;
        position: relative;
        left: 5px;

        .anchor { 
            font-size: 16px;
            color: var(--theme);
        }
    }
}

.rightnav {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--nav-width);
    height: 100%;
    padding: var(--nav-width) 0;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 100;

    .social-links {
        text-align: center;
        position: relative;
        left: 5px;

        .anchor { 
            font-size: 16px;
            color: var(--dark-grey);
        }
    }
}

.app-container {
    z-index: 1;
    mix-blend-mode: difference;

    &.home { background-color: var(--theme); }
}

.botnav {
    position: fixed;
    width: 100%;
    height: var(--nav-width);
    top: calc(100vh - var(--nav-width) - 40px);
    padding: 0 5%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .nav-links {
        .nav-icon { margin-bottom: 20px; }
        .nav-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 40px;
        }

        &.home {
            .nav-info > p, .anchor { color: var(--white); }
            .nav-icon > .title { color: var(--white); }
        }
    }

    .social-links {
        .anchor { font-family: 'InterBold'; }
        &.home > .anchor { color: var(--white); }
    }
}