// Styling for the layout template

// App layout
.topnav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--topnav-992plus-height);
    padding: 0 5%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home-button {
        a {
            display: flex;
            text-decoration: none;
            font-size: 1.2rem;
            color: var(--black);

            .name {
                margin-right: 5vw;
                font-family: 'InterBold';
            }
        }
    }

    .topnav-menu {
        display: flex;
        gap: 40px;

        .topnav-link {
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            font-family: 'Inter';
            font-size: 14px;
            color: var(--black);

            &.active {
                font-family: 'InterBold';
            }
        }
    }
}

.sidenav-container {
    position: fixed;
    top: 60%;
    left: calc(95vw - 18px);
    display: flex;
    align-items: center;
    writing-mode: vertical-lr;
    letter-spacing: 2px;
    font-family: 'InterBold';
    animation: moveScrollSpan 3s ease infinite;

    @keyframes moveScrollSpan {
        0% { margin-top: 10px; }
        50% { margin-top: 25px; }
        100% { margin-top: 10px; }
    }

    .arrow {

        span:nth-of-type(odd) {
            display: block;
            width: 1px;
            height: 40px;
            writing-mode: vertical-lr;
            border: 1px solid var(--dark-grey);
            margin-top: 10px;
        }

        span:nth-of-type(even) {
            position: relative;
            top: 45px;
            display: block;
            width: 1px;
            height: 5px;
            transform: rotate(45deg);
            border: 1px solid var(--dark-grey);
        }
    }
}


.app-container {
    width: 100%;
    height: 100%;
}


.botnav-container {
    position: relative;
    width: 100%;
    padding: 10%;
    background-color: var(--black);
    color: var(--white);
    
    h1 {
        text-align: center;
        color:  var(--white);
    }

    .botnav-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        gap: 20px;

        p { font-size: 14px; }

        a {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 20px;
            color: var(--white);

            &:hover {
                background-color: var(--white);
                color: var(--black)
            }
        }
    }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) { }

// Medium Devices, Desktops
@media only screen and (max-width: 992px) { }

// Small Devices, Tablets
@media only screen and (max-width: 768px) {
    .botnav-container {
        .title { font-size: 2rem !important; }
    }
}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) { }

// Custom, iPhone Retina
@media only screen and (max-width : 320px) { }