// Styling for the Projects page
.project {
    margin-top: 5%;

    .title {
        display: flex;
        grid-column-gap: 5%;
        align-items: center;
        .anchor {
            padding: 0 !important;
            color: var(--icon-color) !important;
        }
    }

    .description {
        margin: 5px 0;
        text-transform: uppercase;
        font-family: 'InterReg';
        letter-spacing: 2px;
        font-size: 14px;
    }

    .tags {
        font-size: 14px;
    }
}