// Styling for Title.js
.title {
    font-family: 'AvertaBold';
    color: var(--dark-grey);

    // Varying sizes of titles. Options: huge | Sstandard | small
    &.huge {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    &.standard {
        font-size: 3.5rem;
        line-height: 3rem;
    }

    &.small {
        font-size: 2.5rem;
        line-height: 2rem;
    }

    &.smaller {
        font-size: 1.5rem;
        line-height: 1rem;
    }

    &.tiny {
        font-size: 1rem;
        line-height: 0.5rem;
    }

    &.transparent {
        -webkit-text-stroke: 1px var(--white);
        color: transparent;
    }

    &.averta { font-family: 'Averta'; }
    &.playfair { font-family: 'Playfair'; }
    &.inter { font-family: 'Inter'; }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {
    .title {
        &.huge {
            font-size: 3.5rem;
            line-height: 3.5rem;
        }
    
        &.standard {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    
        &.small {
            font-size: 2rem;
            line-height: 1.5rem;
        }
    
        &.tiny {
            font-size: 1rem;
            line-height: 0.5rem;
        }
    }
}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}