// Styling for Title.js
.title {
    --title-992plus-huge: 4.5rem;
    font-family: 'AvertaBold';
    color: var(--dark-grey);

    // Varying sizes of titles. Options: huge | Sstandard | small
    &.huge {
        font-size: var(--title-992plus-huge);
        line-height: var(--title-992plus-huge);
    }

    &.standard {
        font-size: calc(var(--title-992plus-huge) - 1rem);
        line-height: calc(var(--title-992plus-huge) - 0.5rem);
    }

    &.small {
        font-size: calc(var(--title-992plus-huge) - 2rem);
        line-height: calc(var(--title-992plus-huge) - 1.5rem);
    }

    &.tiny {
        font-size: calc(var(--title-992plus-huge) - 3.5rem);
        line-height: calc(var(--title-992plus-huge) - 3rem);
    }

    &.transparent {
        -webkit-text-stroke: 1px var(--white);
        color: transparent;
    }

    &.averta { font-family: 'Averta'; }
    &.playfair { font-family: 'Playfair'; }
    &.inter { font-family: 'Inter'; }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {
}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {
    .title {
        --title-992plus-huge: 3rem;
    }
}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}