// Styling for WorkLink.js component
.work-link {
    width: 100%;
    padding: 7% 0;
    display: flex;
    align-items: center;
    gap: 5%;
    text-decoration: none;
    border-bottom: 2px solid var(--grey);
    background-color: var(--white);

    .work-num {
        display: flex;
        align-items: center;

        span {
            width: 15vw;
            height: 1px;
            margin-right: 3vw;
            border: 1px solid var(--semidark-grey);
            transition: .75s ease-in-out;
        }
    }

    .work-title {
        .work-description {
            padding: 5px 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
        }

        .work-tags { font-size: 14px !important; }
    }

    h1, p { color: var(--semidark-grey); }

    &.hovered {
        h1, p { color: var(--dark-grey);}

        .work-num > span {
            width: 20vw;
            border: 1px solid var(--dark-grey);
        }
    }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) { }

// Small Devices, Tablets
@media only screen and (max-width: 768px) {
    .work-link {
        .work-title {
            padding-right: 10%;
            h1 { font-size: 2rem !important; }

            .work-description {
                line-height: 150%;
                font-size: 13px;
            }
            
            .work-tags { font-size: 12px !important; }
        }
    }
}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}