// Styling for the work showcase page
.work-container {
    --circle-diameter: calc(30vw + 200px);

    .landing {
        width: 100%;
        height: 100vh;
        display: grid;
        align-items: center;

        .background {
            position: relative;
            left: calc(50% - var(--circle-diameter) / 2);
            grid-row: 1;
            grid-column: 1;
            z-index: 1;
            width: var(--circle-diameter);
            height: var(--circle-diameter);
            border-radius: 50%;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 14px;
            background-color: var(--white);
        }

        .landing-content {
            grid-row: 1;
            grid-column: 1;
            z-index: 5;
            padding: 0 20%;

            .landing-intro { text-align: center; }
        }
    }

    .project-gallery-container {
        width: 100%;
    }
}