.section-title {
    padding: 50px 0 25px 0;
    font-family: 'Inter';
    font-size: 1.4rem;
    color: var(--grey);
}

.project-title {
    padding: 50px 0 25px 0;
    font-family: 'Inter';
    font-size: 1.6rem;
    color: var(--white);
}

.links {
    a {
        padding-right: 10px;
        color: var(--more-grey);
    }
}

video {
    width: 100%;
    margin: 5vh 0 3vh 0;
}

ul {
    padding-left: 18px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3vw;

    .showcase {
        line-height: 1.5rem;

        a { color: var(--grey); }

        .proj-name {
            position: relative;
            display: inline-block;
            margin-bottom: 15px;
            color: var(--grey);
        }
        
        .proj-name::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 1px;
            background-color: var(--more-grey);
        }

        .proj-desc {
            color: var(--more-grey);
        }
    }
}

.experiences {
    .experience {
        display: flex;
        justify-content: space-between;

        p {
            padding-bottom: 5px;
            font-size: 0.9rem;
            color: var(--more-grey);
        }
    }
}