// General styling
p, ul, li {
    margin: 0;
    font: 15px 'Inter';
    line-height: 22px;
    color: var(--mono-light-grey);
}

li {
    margin-left: 28px;
    padding: 5px 0;
}

// Specific layout styling
.wrapper {
    min-height: calc(100vh - 2 * var(--padding-tb));
    padding: var(--padding-tb) var(--padding-lr);
    background-color: var(--mono-black);
}

.topnav {
    position: fixed;
    width: calc(100vw - 2 * var(--padding-lr) - 12px);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0 var(--padding-lr);
    background-color: var(--mono-black);

    a {
        font: 16px 'Poppins';
        text-decoration: none;
        color: var(--mono-white);

        &:hover { color: var(--mono-turqoise); }
    }

    svg {
        font-size: 30px;
        color: var(--mono-white);
    }

    .close-button {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        
        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 2px;
            background-color: var(--mono-white);
        }

        &:hover::before, &:hover::after { background-color: var(--mono-turqoise); }
        &::before { transform: translate(-50%, -50%) rotate(45deg); }
        &::after { transform: translate(-50%, -50%) rotate(-45deg); }
    }
}